/* Top Section */
.top-section{
    background-color: #7E33E0;
    width: 100%;
    height: 44px;
}

.inner-section{
    width: 1177px;
}
.inner-section img{
    width: 13.33px;
    height: 13.33px;
}

.inner-section p{
    color: #f1f1f1;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 16px;
    
}

/* Botton Section */
.bottom-section{
    height: 80px;
}

.logo{
font-size: 34px;
font-weight: 700;
line-height: 34px;
text-align: left;
color: #0D0E43;
}

.homebtn{
    color: #FB2E86;
}

nav li{
    font-family: lato;
}

.searchinp{
    width: 266px;
    height: 40px;
    border: 1px solid #E7E6EF;
    border-radius: 0px;
    outline: none;
}


.searchbtn{
    width: 51px;
    height: 40px;
    background-color: #FB2E86;
} 