@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: josefin sans;
}


/*  Custom 404 Page */

.not-found-inner{
  width: 1177px;
  height: 700px;
}

.not-found-inner h3{
  font-family: Josefin Sans;
font-size: 24px;
font-weight: 600;
line-height: 28.13px;
color: #152970;
}

.not-found-inner button{
  width: 165px;
height: 44px;
border-radius: 3px;
color: #ffffff;
background-color: #FB2E86;
}