/* Hero Section */

.hero-section {
  width: 100%;
  height: 764px;
  background: #f2f0ff;
  position: relative;
}

.hero-pic-1 {
  position: absolute;
  top: 0;
  left: 70px;
}

.hero-pic-2 {
  position: absolute;
  right: 240px;
}

.hero-pic-3 {
  position: absolute;
  left: 180px;
  bottom: 220px;
}

.hero-inner-section {
  width: 1177px;
}

.hero-p-1 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #fb2e86;
}

.hero-heading {
  font-family: Josefin Sans;
  font-size: 48px;
  line-height: 81.98px;
  letter-spacing: 0.015em;
  text-align: left;
  font-weight: 600;
}

.hero-p-2 {
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #8a8fb9;
}

.shopnowbtn {
  width: 163px;
  height: 50px;
  margin-top: 20px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: #fb2e86;
  color: #ffffff;
}

.hero-pagi {
  position: absolute;
  bottom: 40px;
}

/* Featured Products */
.featured-pro {
  width: 1177px;
}

.featured-sec {
  height: 700px;
}

.featured-sec h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  margin: 40px;
  font-weight: 600;
  color: #1a0b5b;
}

.product {
  width: 270px;
  height: 361px;
  box-shadow: 0px 0px 25px 0px #0000001a;
}

.product-img {
  width: 270px;
  height: 236px;
  background: #f6f7fb;
}

.featured-pro-name {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #fb2e86;
}

.color-btn-1 {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  background-color: #05e6b7;
}

.color-btn-2 {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  background-color: #f701a8;
}

.color-btn-3 {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  background-color: #00009d;
}

.featured-para {
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 16.41px;
  color: #1a0b5b;
}

/* featured 2nd product */
.second-prod {
  position: relative;
  background-color: #2f1ac4;
}

.producticons {
  position: absolute;
  top: 20px;
  left: 20px;
}

.featured-vm-btn {
  position: absolute;
  width: 94px;
  height: 29px;
  top: 198px;
  left: 95px;
  gap: 0px;
  border-radius: 2px;
  background-color: #08d15f;
  color: #ffffff;
}

.second-prod-details p {
  color: #ffffff;
}

.second-prod-btn {
  background-color: #ffeac1;
}

.btn-1 {
  width: 24px;
  height: 4px;
  border-radius: 10px;
  background-color: #f701a8;
}

.pagi-btn {
  width: 16px;
  height: 4px;
  border-radius: 10px;
  background-color: #febad7;
}

/* Latest Section */

.latest-sec {
  text-align: center;
  margin-bottom: 40px;
}

.latest-sec h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  font-weight: 600;
  color: #151875;
}

.latest-prod-grid {
  width: 1177px;
}

.arrival-para {
  color: #fb2e86 !important;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-decoration: underline;
  cursor: pointer;
}

.latest-option p {
  color: #151875;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
}

.latest-prod {
  width: 360px;
  height: 306px;
}

.latest-prod-img {
  width: 360px;
  height: 269.96px;
  background: #f7f7f7;
}

.latest-prod-name {
  color: #151875;
}

.underline {
  width: 153.73px;
  height: 0px;
  border: 2px solid #eeeffb;
}

.latest-prod-price {
  color: #151875;
  font-size: 14px;
}

.latest-discounted {
  text-decoration: line-through;
  color: #fb2448;
  font-size: 12px;
}

/* Offer Section */
.offer-sec {
  margin-bottom: 100px;
}

.offer-card-sec {
  width: 1177px;
}

.offer-sec h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  color: #151875;
  font-weight: 600;
}

.offer-card {
  width: 270px;
  height: 320px;
  box-shadow: 0px 8px 40px 0px #31208a0d;
}

.offer-card-p {
  font-family: Josefin Sans;
  font-size: 22px;
  line-height: 25.78px;
  color: #151875;
}

.offer-card-descrip {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: #1a0b5b4d;
}

/* Mid Hero Banner */

.mid-hero-banner {
  background: #f1f0ff;
  margin: 50px auto;
}

.mid-sec {
  width: 1177px;
}

/* Mid col 1 */

/* Mid col 2 */
.mid-col-2 h3 {
  font-family: Josefin Sans;
  font-size: 35px;
  line-height: 46.2px;
  letter-spacing: 0.015em;
  color: #151875;
  font-weight: 600;
  margin-bottom: 10px;
}

.dot-1 {
  width: 11px;
  height: 11px;
  background-color: #f52b70;
  border-radius: 50%;
  margin-top: 5px;
}

.dot-2 {
  width: 11px;
  height: 11px;
  background-color: #2b2bf5;
  border-radius: 50%;
  margin-top: 5px;
}

.dot-3 {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #2bf5cc;
}

.mid-sec ul>li {
  font-size: 14px;
  color: #acabc3;
}

.mid-col-2-btn {
  width: 157px;
  height: 45px;
  border-radius: 2px;
  background: #fb2e86;
  color: #ffffff;
}

.mid-col-2-p {
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #151875;
  font-weight: 500;
}

.mid-col-2-p span {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #151875;
}

/* trending products */
.trending-sec {
  height: 800px;
}

.trending-sec h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  color: #151875;
  font-weight: 600;
}

.trending-inner {
  width: 1177px;
}

.trending-prod-1 {
  width: 270px;
  height: 350px;
  padding: 18px;
  box-shadow: 0px 8px 40px 0px #31208a0d;
}

.trending-1-img {
  width: 247px;
  height: 244px;
  background-color: #f5f6f8;
}

.trending-prod-details {
  text-align: center;
  margin-top: 15px;
}

.trending-prod-details .p1 {
  color: #151875;
  font-weight: 500;
}

.trending-prod-details .p2 {
  color: #151875;
  font-weight: 400;
  font-size: 14px;
}

.trending-prod-details .p2 span {
  color: #1518754d;
  font-weight: 500;
  text-decoration: line-through;
  font-size: 14px;
}

.trending-prod-2 {
  width: 420px;
  height: 270px;
  position: relative;
  background-color: #fff6fb;
  padding: 30px 20px 30px 20px;
}

.prod-2-details h3 {
  font-family: Josefin Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  color: #151875;
}

.prod-2-details p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #fb2e86;
  cursor: pointer;
}

.trending-prod-2 img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.trending-prod-3 {
  width: 420px;
  height: 270px;
  position: relative;
  background-color: #eeeffb;
  padding: 30px 20px 30px 20px;
}

.prod-3-details h3 {
  font-family: Josefin Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  color: #151875;
}

.prod-3-details p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #fb2e86;
  cursor: pointer;
}

.trending-prod-3 img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.trending-prod-4 {
  width: 267px;
  height: 74px;
}

.prod-4-img {
  width: 107px;
  height: 74px;
  background-color: #f5f6f8;
}

.prod-4-details p {
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 18.75px;
  color: #151875;
}

.prod-4-details span {
  text-decoration: line-through;
}

/* Discount Section */
.discount-inner {
  width: 1177px;
}

/* discount top */
.discount-top h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  color: #151875;
  font-weight: 600;
}

.discount-top p.except {
  color: #f52b70;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.discount-top .pinkdot {
  background-color: #f52b70;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* dicsount bottom */
.discount-sec {
  height: 700px;
}

.discount-col-1 h3 {
  font-family: Josefin Sans;
  font-size: 35px;
  font-weight: 600;
  line-height: 46.2px;
  letter-spacing: 0.015em;
  color: #151875;
}

.discount-col-1 p {
  color: #f52b70;
  line-height: 1.5em;
  font-family: Josefin Sans;
  font-size: 21px;
  line-height: 27.72px;
  letter-spacing: 0.015em;
}

.discount-col-1 p.except {
  color: #b7bacb;
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.discount-col-1 button {
  width: 200px;
  height: 57px;
  border-radius: 2px;
  background-color: #f52b70;
  color: #ffffff;
  margin-top: 30px;
}

/* Top Category Section */
.top-cate-inner {
  width: 1177px;
}

.top-cate-inner h2 {
  font-family: Josefin Sans;
  font-size: 42px;
  line-height: 49.22px;
  color: #151875;
  font-weight: 600;
}

.top-prod {
  width: 269px;
  height: 345px;
}

.top-prod-1-img {
  box-shadow: -8px 8px 0px 0px #9877e7;
}

.top-prod-img {
  width: 269px;
  height: 269px;
  border-radius: 50%;
  background-color: #f6f7fb;
}

.top-prod-details {
  margin-top: 20px;
}

.top-prod-details p {
  text-align: center;
  color: #151875;
}

.top-prod-details p:first-child {
  text-align: center;
  color: #151875;
  font-size: 20px;
}

/* Newletter Banner */

.newsletter-banner {
  background-image: url("../public/homepage/newsletter-banner.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 462px;
}

.newsletter-banner h2 {
  text-align: center;
  color: #151875;
  font-family: Josefin Sans;
  font-size: 35px;
  line-height: 54.25px;
  letter-spacing: 0.015em;
  font-weight: 600;
}

.newsletter-banner button {
  width: 173px;
  height: 49px;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #FB2E86;
  color: #ffffff;
}

/* Latest Blogs Section  */
.latest-blog-sec{
  height: 800px;
}
.latest-blog-inner {
  width: 1177px;
}

.latest-blog-inner h2 {
  color: #151875;
  text-align: center;
  margin-bottom: 40px;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 42px;
  line-height: 49.22px;

}

.latest-blog-1 {
  width: 370px;
  height: 493px;
  border-radius: 5px;
  box-shadow: 0px 8px 40px 0px #31208A0D;
}

.latest-blog-img img {
  border-radius: 5px;
}

.blog-author p {
  color: #151875;
  font-size: 14px;
}

.blog-title {
  color: #151875;
  font-size: 18px;
  font-weight: 600;
}

.blog-descrip {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #72718F;
}

.blog-readmore-btn {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: #151875;
}

.mid-blog .blog-title,
.mid-blog .blog-readmore-btn {
  color: #FB2E86 !important;
}